html, body {
  margin: 0;
  padding: 0;
}


/* Headline
/*font-family: 'Oswald', sans-serif; 
/* Text
/* font-family: 'Montserrat', sans-serif;


/* Homepage section */
.homepage {
  position: relative;
  display: flex;
  height: 100vh;
  background: #355C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.homepage .navbar {
  position: absolute;
  width: 100%;
}

.homepage .navbar ul {
  position: absolute;
  top: 30px;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  width: 400px;
  margin: 0 175px 0 0;
  padding: 0;
  list-style-type: none;
}

.homepage .navbar ul li {
  margin: 0 10px;
  padding: 10px 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.132);
  border-radius: 20px;
}

.homepage .navbar ul li:hover {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.132);
  cursor: pointer;
}


.homepage .welcome {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.homepage .welcome .text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage .welcome .text .text-box {
  padding: 80px;
}

.homepage .welcome .text h1 {
  font-family: 'Oswald', sans-serif; 
  font-size: 54px;
  color: #FFFFFF;
}

.homepage .welcome .text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}

.homepage .welcome .text .social {
  margin-top: 50px;
}

.homepage .welcome .text .social img {
  height: 35px;
  margin-right: 20px;
  cursor: pointer;
}

.homepage .welcome .img-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;;
}

.homepage .welcome .img-box .img {
  width: 100%;
}
